
  li,a {
         text-decoration: none;
         display: inline;
        }

  body {
       background-color: yellow;


  }      

  head {
  	font-family: arial;
  	background-color: yellow;
   
  }
  nav {
   background-color: lightgreen;
   float: right;
   width: 100;
   position: fixed;
   margin: 0px 0px 0px -8px

  }
  h1{
       background-color: white;
       float: center;
       } }